.container {
  display: flex;
  flex-wrap: wrap;
}

.filePreview {
  flex-basis: calc(33.33% - 20px); 
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.filePreview p {
  margin-bottom: 10px;
}

.image {
  max-width: 100%;
  max-height: 200px;
}

.fileIcon {
  width: 100px;
  height: 100px; 
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: rgb(10, 183, 252);
  border:none;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  width: 80%;
  margin: auto;
}
.file-input{
  display: flex;
  justify-content: center;
  align-items: center;
}
.submitBtn{
  margin-top: 40px;
  background-color: rgb(21, 20, 20);
  color: #fff;
  width: 100%;
  padding: 10px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: rgb(10, 183, 252);
}
.logout-btn{
  width: 120px;
  height: 40px;
  margin: 20px;
  background-color:rgb(21, 20, 20) ;
  color: #fff;
}
.user-name{
  margin-left: 100px;
  color: #fff;
}
.user-profile{
  display: flex;
}
.navbar h1{
  color: #f0f8ff;
  margin-left: 200px;
}
.down-icon{
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
}